- page_content = cadmus_renderer.render(@page.liquid_template, :html)
- cms_layout = @page.effective_cms_layout

- if cms_layout
  - head_content = render(partial: 'layouts/head')
  - assigns = { 'content_for_head' => head_content, 'content_for_navbar' => navigation_bar(cms_layout.navbar_classes), 'content_for_layout' => page_content, 'page' => @page }
  = cadmus_renderer.render(cms_layout.liquid_template, :html, assigns: assigns)
- else
  - content_for :content do
    = page_content

  = render template: 'layouts/application'