%h1 Navigation for #{@event.name}

%ol.breadcrumb
  %li.breadcrumb-item.active Navigation bar

%ul.list-group.navigation-item-list{"data-sort-url" => sort_event_navigation_items_path(@event)}
  = render partial: 'navigation_item', collection: @navigation_items.root.order(:position)

.card.mt-4
  .card-header Add a navigation item
  .card-block
    = render partial: 'form', locals: { navigation_item: @event.navigation_items.new }