%nav.navbar.navbar-toggleable-md{class: navbar_classes}
  = render partial: 'layouts/navigation_toggle'
  = link_to @event.name, @event, class: 'navbar-brand'

  #main-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav.mr-auto
      = renderer.render_navigation_items
    = render partial: 'layouts/navigation_right'
