%button.navbar-toggler.navbar-toggler-right{"aria-expanded" => "false", "aria-controls" => "#main-navbar-collapse-1", "data-target" => "#main-navbar-collapse-1", "data-toggle" => "collapse", "aria-label" => "Toggle navigation", type: "button"}
  %span.navbar-toggler-icon