%nav.navbar.navbar-expand-md{class: navbar_classes}
  = render partial: 'layouts/navigation_toggle'
  = link_to (@event&.name || site_settings.site_title), root_url, class: 'navbar-brand'

  #main-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav.mr-auto
    = render partial: 'layouts/navigation_right'
